<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Edit recipe for {{ the_recipe.name }}</span>
        <a href ="/users/dashboard"><button class="btn btn-primary">Dashboard</button></a>
        <a href ="/logout"><button class="btn btn-primary">Logout</button></a>
    </nav>
    <div class="containter bg-danger m-2 text-white d-flex justify-content-center">
        {% with messages = get_flashed_messages()%}
                {% if messages%}
                    <div id="popup">
                        {% for message in messages%}
                            <p>{{ message }}</p>
                        {% endfor %}
                        <button onclick="popup.remove()">Okay</button>
                    </div>
                {% endif %}
                {% endwith %}
    </div>
    <div class="container text-white">
        <div class="row">
            <div class="col bg-primary m-4 p-4">
                <form class="form-group d-flex flex-column align-items-start" action = "/recipes/updated" method = "post">
                    <input type = "hidden" name="user_id" value = "{{ session.user_id }}" >
                    <input type = "hidden" name="id" value = "{{ the_recipe.id }}" >
                    <label>
                        Name:
                        <input type="text" name="name" value = "{{ the_recipe.name }}">
                    </label>
                    <label>
                        <p>Description:</p>
                        <textarea name="description" cols="30" rows="10">{{ the_recipe.description }}</textarea>
                    </label>
                    <label>
                        <p>Instructions:</p>
                        <textarea name="instructions" cols="30" rows="10">{{ the_recipe.instructions }}</textarea>
                    </label>
                    <label>
                        Date Made:
                        <input type="date" name="date_made" value = "{{ the_recipe.date_made }}" >
                    </label>
                    <p>Under Thirty Minutes?</p>
                    <input type="radio" id="Yes" name="under_thirty" value="1" {{"checked" if the_recipe.under_thirty == 1  }}>
                    <label for="Yes">Yes</label>
                    <input type="radio" id="No" name="under_thirty" value="0"  {{"checked" if the_recipe.under_thirty == 0  }}>
                    <label for="No">No</label>
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</body>
</html>